/** display flex declaration horizontal */
.ss-display-flex {
    display: flex;
}
.ss-flex-1 {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.ss-flex-2 {
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
}
.ss-flex-3 {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
}
.ss-flex-4 {
    -webkit-flex: 4;
    -ms-flex: 4;
    flex: 4;
}
.ss-flex-5 {
    -webkit-flex: 5;
    -ms-flex: 5;
    flex: 5;
}
.ss-flex-6 {
    -webkit-flex: 6;
    -ms-flex: 6;
    flex: 6;
}
.ss-flex-7 {
    -webkit-flex: 7;
    -ms-flex: 7;
    flex: 7;
}

/** float declaration */
.ss-float-wrapper:after {
    content: '';
    display: block;
    clear: both;
}
.ss-float-left {
    float: left;
}
.ss-float-right {
    float: right
}